html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: cadetblue;
    
    }
    body{
        background-image: url("../images/background3.webp");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    #main-card, 
    #find-restaurant, 
    #make-at-home {
       background-color: black;
       border: solid 1px;
       height: 100 ;
       margin: 2% auto 12% auto;
       text-align: center;
       color: rgb(225, 239, 239);
    }
    footer {
        color: cadetblue;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        position: fixed;
        width: 100%;
        bottom: 0;
      }
