html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    
    }
    body{
        background-image: url("../images/foodAndWine3.png");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Times New Roman', Times, serif;
        color: antiquewhite;

    }
     
    #find-recipe, 
    #find-wine {
       background-color: rgba(14, 14, 14, 0.7);
       border: #880e4f solid 3px;
       height: 25vw ;
       margin: 5% auto 12% auto;
       text-align: center;
       color: antiquewhite;
    }

    #find-info {
        margin: 10%;
        line-height: 2.5;
    }
    footer {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        position: fixed;
        width: 100%;
        bottom: 0;
      }
